<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>frontpage</title>
    <link rel="stylesheet" href="/antd.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" charset="utf-8" src="/react.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/react-dom.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/antd.min.js"> </script>
</head>
<body>
    <div id='app'>
    </div>
    <script src="/frontpage.js"></script>
</body>
</html>

