<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>test</title>
    </head>
    <body>
        <img src="http://pic5.qiyipic.com/image/20170420/c6/4c/a_100049898_m_601.jpg" alt=""/>
        <script type="text/javascript" charset="utf-8">
            var img2 = document.createElement('img');
            img2.src = 'http://b3-q.mafengwo.net/s9/M00/FF/E7/wKgBs1e4KwaAJQhuAAESGrxo10805.jpeg?imageMogr2%2Fthumbnail%2F%21690x450r%2Fgravity%2FCenter%2Fcrop%2F%21690x450%2Fquality%2F90%7Cwatermark%2F1%2Fimage%2FaHR0cDovL24xLXEubWFmZW5nd28ubmV0L3M4L00wMC82Mi83OS93S2dCcFZodUN6Q0FJa3RIQUFBTkc4TDlCUU0xNjAucG5n%2Fgravity%2FNorthWest%2Fdx%2F20%2Fdy%2F21://puui.qpic.cn/tv/0/9999061_1080607/0';
            document.body.appendChild(img2);
        </script>
    </body>
</html>
